  .container{overflow: hidden background-color: blue;  background-image:url('background9.jpg');
}
            .tab{float: left; color: white; font-family: 'Josefin Sans', sans-serif;}
            .tab-2{margin-left: 200px; margin-top: 60px; background-color: linear-gradient; width: 300px;}
            .tab-2 input{display: block;margin-bottom: 10px; background-color:#EEE;}
            tr{transition:all .25s ease-in-out; background-color:linear-gradient; font-family: 'Josefin Sans', sans-serif;}
            tr:hover{background-color:#EEE;cursor: pointer}
body{
background-image:url('background12.jpg'); 
background-size: cover;
}
#button{
background-color: grey;
}
#button :hover{
background-color: white;
}